footer {
    background-color: var(--base-color);
    margin-top: 10px;
    height: 100px;
text-align: center;
color: var(--light-text-color);

h5 {
    padding-top: 20px;
}

    p {
        font-size: 14px;
        padding: 10px;
    }
}