header {
    background: var(--base-color);
    height: 280px;
    text-align: center;

    @media screen and (max-width:700px) {
        height: 120px;
    }

img {
    margin-top: 180px;
    object-fit: contain;
    height: 150px;
    width: 150px;
    border-radius: 50%;

    @media screen and (max-width:700px) {
        margin-top: 30px;
    }

}

h2 {
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--dark-text-color);

}

p {
    padding-inline: 10px;
    max-width: 450px;
    margin-inline: auto;
    color: var(--light-text-color);
}

}

hr { 
    overflow: hidden;
     display: block;
     max-width: 250px;
     height: 2px;
     border: 0;
     margin-top: 15px;
     border-top: 1px solid var(--light-text-color);
 }

