body{
    margin: 0;
     padding: 0;
}
 .navigation {
     height: 55px;
     background:var(--base-color);

}
 .name {
     position: absolute;
     padding-left: 20px;
     float: left;
     line-height: 55px;
     font-size: 25px;

     a, a:visited {
        color: var(--light-text-color);
        text-decoration: none;
   }

}
 
 .nav-container {
     max-width: 1400px;
     margin: 0 auto;
}
 nav {
     float: right;
     text-transform: uppercase;

     @media only screen and (max-width: 700px) {
            width: 100%;
            padding: 55px 0 15px;
       }


ul {
     list-style: none;
     margin: 0;
     padding: 0;


     @media only screen and (max-width: 700px) {
            display: none;
            position: absolute;
            width: 100%;
            text-align: center;
       }

     
     li {
     float: left;
     position: relative;


     @media only screen and (max-width: 700px) {
            float: none;
     }

     li {
        min-width: 190px;
        
        a {
            padding: 15px;
            line-height: 20px;
       }
   }

     a, a:visited {
        display: block;
        padding: 0 20px;
        line-height: 55px;
        color: var(--light-text-color);
        background: #262626 ;
        text-decoration: none;
        background: transparent;

        @media only screen and (max-width: 700px) {
                padding: 15px;
                line-height: 20px;
                background: #262626;
                position: relative; 
                width: 100% !important;
           }

   }
   a:hover, a:visited:hover {
    color: #eeeeee;
}

a:not(:only-child):after, a:visited:not(:only-child):after {
    padding-left: 4px;
    content: '';
}
}
}
}
 
 .navbar-dropdown {
     position: absolute;
     display: none;
     z-index: 1;
     background: #fff;
     @media only screen and (max-width: 700px) {      
            position: static;
   }
}

 .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: transparent;
     height: 55px;
     width: 70px;

     @media only screen and (max-width: 700px) {
            display: block;  
}
 }


 @media screen and (min-width:700px) {
     .nav-list {
         display: block !important;
         width: 100% !important;
    }
}
 #navbar-toggle {
     position: absolute;
     left: 18px;
     top: 15px;
     cursor: pointer;
     padding: 10px 35px 16px 0px;
}
 #navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
     cursor: pointer;
     border-radius: 1px;
     height: 3px;
     width: 30px;
     background: #ffffff;
     position: absolute;
     display: block;
     content: '';
     transition: all 300ms ease-in-out;
}
 #navbar-toggle span:before {
     top: -10px;
}
 #navbar-toggle span:after {
     bottom: -10px;
}
 #navbar-toggle.active span {
     background-color: transparent;
}
 #navbar-toggle.active span:before, #navbar-toggle.active span:after {
     top: 0;
}
 #navbar-toggle.active span:before {
     transform: rotate(45deg);
}
 #navbar-toggle.active span:after {
     transform: rotate(-45deg);
}
